body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .search-bar {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #search {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
  }
  
  #search-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
  }
  
  .movie-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
  }
  
  .movie-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .filter-sort {
    max-width: 600px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }

  /* Estilos CSS posteriores... */
